tasks
src/*.o
*.swp
*.root
doVVVAnalysis
logger_metis.log
condor/samples.pyc
condor/package.tar.xz
condor/package.tar.gz
.*.txt
.*.cc
.*.h
*.pyc
condor/*.json
histograms
test.cc
test.sh
testdir/
plotdir/
condor/count_nevents.py
